body {
  background: #F2E4C9;
  color: #594D36;
  font-size: 1.5rem;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;

}

.circle {
  width: 40rem;
  height: 40rem;
  border: none;
  border-radius: 40px 10px;
  background-image: url('http://i64.tinypic.com/8ygiae.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 10px 5px 5px #c2c2a3;
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  body {
    background: #F5D5B2;
  }
}

@media print {
  body {
    background: white;
  }
}
.container-box {
  background: #594D36;
  display: flex;
  justify-content: center;
}

.item {
  background: #D9CAAD;
  padding: 10px;
}

header, footer {
  background:#D9CAAD ;
  box-shadow: 10px 5px 5px #c2c2a3;
}
